<!DOCTYPE html>
<html lang="en" ng-app="customDirectiveApp">
<head>
	<meta charset="UTF-8">
	<title>Custom Directives</title>
	<script src="jquery-1.11.2.js"></script>
	<script src="angular.js"></script>

	<script>
	angular.module("customDirectiveApp", [])
		.controller("customDirectiveController", function($scope){
			$scope.reset = function(){
				console.log("Controller scope reset invoked");
			}
		})
		.directive("myDirective", function(){
			return function(scope, elem, attrs){
				elem.html(new Date());
			};
		})
		.directive("helloWorld", function(){
			var obj =  {
				restrict : "AE",
				scope : {
					color : "=colorAttr",
					reset : "&resetAttr",
					count : "@"
				},
				template : "<div>Hi there</div>",
				link : function(scope, element, attr){
					scope.$watch("color" , function(newValue, oldValue){
						element.css("color", newValue);
					});
					scope.$watch("count", function(newValue){
						var result = "";
						for(var i=0;i<newValue;i++)
						   result += obj.template;
						element.html(result);
					});
					element.click(function(){
						console.log("element clicked");
						scope.$apply(function(){
							scope.color = "black";
						});
						scope.reset();
					});
				}
			};
			return obj;

		});
	</script>
</head>
<body data-ng-controller="customDirectiveController">
	<input type="text" ng-model="greetColor" ng-init="greetColor = 'blue'">
	<input type="text" ng-model="greetCount">
	<h1 hello-world color-attr="greetColor" reset-attr="reset()" count="{{greetCount}}"></h1>
	<hr>
	<div my-directive></div>

</body>
</html>