<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Salary Calculator</title>
	<script src="angular.min.js"></script>
	<style type="text/css">
	label {
		display : block;
	}
	#divResult{
		color : red;
		font-size: 28pt;

	}
	</style>
	<script>
	var myApp = angular.module("myApp", []);
	myApp.controller("salaryCalculatorController", function($scope){
		$scope.calculator = {
			basic : 0,
			hra : 0,
			da : 0,
			tax : 0,
			salary : 0,
			calculate : function(){
				var net = parseInt(this.basic,10) + parseInt(this.hra,10) + parseInt(this.da,10);
				this.salary = net * ((100-parseInt(this.tax,10))/100); 

			}
		}
	})
	</script>
</head>
<body ng-app="myApp" data-ng-controller="salaryCalculatorController">
	<h1>Salary Calculator</h1>
	<hr>
	<div><label for="">Basic :</label><input type="text" ng-model="calculator.basic"></div>
	<div><label for="">Hra :</label><input type="text" ng-model="calculator.hra"></div>
	<div><label for="">Da :</label><input type="text" ng-model="calculator.da"></div>
	<div>
		<label for="">Tax :</label>
		<input type="range" name="" id="" min="0" max="30" ng-model="calculator.tax">
		<span>{{calculator.tax}}%</span>
	</div>
	<div><input type="button" value="Calculate" data-ng-click="calculator.calculate()"></div>
	<div>
		<div id="divResult">{{calculator.salary}}</div>
	</div>
</body>
</html>