<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Task Manager</title>
	<style>
	.completed {
		color : red;
		text-decoration: line-through;
		font-style: italic;
		font-weight: bold;
	}
	li{
		cursor: pointer;
	}
	</style>
	<script src="angular.min.js"></script>
	<script>
	
	var taskApp = angular.module("taskApp", []);
	taskApp.controller("taskController", function($scope){
		$scope.newTask = "";
		$scope.message = "";
		$scope.list = [
			
		];
		$scope.addNew = function(){
			var task = {
				name : $scope.newTask,
				isCompleted : false,
				toggle : function(){
					this.isCompleted = !this.isCompleted;
				}
			};
			$scope.list.push(task);
			$scope.message = "A new task is added";
		};

		$scope.toggle = function(task){
			task.toggle();
		};

		$scope.removeCompleted = function(){
			for(var i=$scope.list.length-1; i>=0 ; i--)
				if ($scope.list[i].isCompleted)
					$scope.list.splice(i,1);
			$scope.message = "Zero or more completed tasks are removed";
		};

		$scope.getCompletedCount = function(){
			return ($scope.list.filter(function(t){ return t.isCompleted})).length;
		}
	});
	</script>
</head>
<body ng-app="taskApp">
	<h1>Task Manager</h1>
	<hr>
	<div data-ng-controller="taskController">
	<h3>{{getCompletedCount()}}/{{list.length}}</h3>
	<label for="">Task :</label>
	<input type="text" ng-model="newTask">
	<input type="button" value="Add Task" ng-click="addNew()">
	<input type="button" value="Remove Completed" data-ng-click="removeCompleted()">
	<ol>
		<li data-ng-repeat="task in list" 
			ng-click="toggle(task)"
			data-ng-class="{completed : task.isCompleted}"
		>{{task.name}}</li>
	</ol>
	<div>{{message}}</div>
	</div>
</body>
</html>